<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Test">
        <classes>


            <class name="egyptPlans.EgyptPlansTests">
            <methods>
                <include name="testPremiumPlan"/>
                <include name="testClassicPlan"/>
                <include name="testLitePlan"/>
            </methods>
            </class>


            <class name="palestinePlans.PalestinePlansTests">
                <methods>
                    <include name="testPremiumPlan"/>
                    <include name="testClassicPlan"/>
                    <include name="testLitePlan"/>
                </methods>
            </class>


            <class name="unitedArabEmiratesPlans.UnitedArabEmiratesPlansTests"><methods>
                <include name="testPremiumPlan"/>
                <include name="testClassicPlan"/>
                <include name="testLitePlan"/>
            </methods>
            </class>


        </classes>

    </test> <!-- Test -->

</suite> <!-- Suite -->